.container h2 {
  text-align: center;
  margin: 25px auto;
}

.delete-btn {
  color: darkred;
}

.submit-form {
  max-width: 400px;
  margin: auto;
}

.edit-form {
  max-width: 400px;
  margin: auto;
}

.ant-tag {
  margin: 0.25rem;
}