.container h2 {
  text-align: center;
  margin: 25px auto;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.list .list-group-item {
  border-radius: 16px;
}

.submit-form {
  max-width: 400px;
  margin: auto;
}

.edit-form {
  max-width: 400px;
  margin: auto;
}